.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f38181;
    font-weight: 500;
    color: #fff;
}

.footer {
    position:fixed;
    bottom:0;
    margin-top: -180px;
    height: 5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #383b3a;
}

.listPeoples {
    position: fixed;
    right: 0;
    background-color: #383b3a;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 22%;
}

.bodyPeoples {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
    align-items: center;
    justify-content: center;
}

.person {
    min-height: 17em;
    min-width: 22em;
    margin: 10px;
    background-color: black;
    border-radius: 10%;
}


.border {
    list-style: none;
    padding: 0;
}

.border li {
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 1.7em;
    transition: 0.3s all linear;
}